.answer{
  display: flex;
  flex-direction: column;
  color: var(--black);
}

.contentAnswer{
  width: 400px;
  display: flex;
  flex: 1;
  position: relative;
}

.front,
.back {
  display: flex;
  margin-bottom: 5px;
  min-width: 100%;
}

.front{
  flex-direction: row;
  gap: 20px;
  border-radius: 16px;
  align-items: center;
  background-color: var(--gray);
}


.back > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  border-radius: 16px;
  padding: 15px ;
  color: var(--white);
}

.correct{
  background-color: #1bad22;
}

.incorrect{
  background-color: #c20e26;
}

.optionP{
  padding: 28px 0;
  font-weight: 500;
}

.optionH4{
  padding: 28px 30px;
}

.letter{
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
  text-transform: uppercase;
}

@media(max-width: 470px){
  .answer{
    width: 100%;
  }

  .contentAnswer{
    width: 100%;
  }
}