@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --gradient: linear-gradient(157deg, rgba(146, 8, 214, 1) 40%, rgba(0, 134, 255, 1) 100%);
  --black: #000000;
  --white: #ffffff;
  --gray: #bdbdbd;
  --purple: #9208d6;
  --purple-dark: #660c93;
  --blue: #0086ff;
  --blue-light: #4aa5f5;
  --blue-dark: #0c65b5;
}

html,
body {
  padding: 0;
  margin: 0;
  background: rgb(146, 8, 214);
  background: var(--gradient);
  background-size: 100%;
  background-repeat: no-repeat;
  color: var(--white);
  height:auto;
}

*{
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
h1{
  font-size: 56px;
  font-weight: 700;
  line-height: 1.25;
}

h2{
  font-size: 45px;
  font-weight: 700;
  line-height: 1.25;
}

h3{
  font-size: 36px;
  font-weight: 700;
  line-height: 1.25;
}

h4{
  font-size: 24px;
  font-weight: 700;
  line-height: 1.25;
}

p{
  font-size: 20px;
  font-weight: 400;
  line-height: 1.25;
}

.pt-5{
  padding: 20px;
}

footer {
  width: 100%;
  bottom: 0;
  text-align: center;

}

.bg-white{
  background-color: var(--white);
  width: fit-content;
  margin: auto;
  padding: 25px;
  border-radius: 20px;
  margin-bottom: 20px;
}

@media(max-width: 470px){
  .p-12{
    padding: 15px !important;
  }

  .bg-white{
    width: 100%;
  }
}